*~
*.swp
*.swo

zsh/.config/zsh/plugins/
zsh/.config/zsh/.zcompcache/ZYPPER_ALL_RAW
zsh/.config/zsh/.zcompdump
nvim/plugin/packer_compiled.lua
nvim/lua-language-server/
kitty/kitty-themes
kitty/theme.conf
